@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

#papel {
    background: black url(imagens/espaco.jpg) center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    
}

#astro {
    background: transparent url(imagens/astronauta.png) center center no-repeat fixed;
    background-size: 50vh;
    height: 100vh;
}